{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="max-w-7xl mx-auto p-4">
    <!-- Main Content -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <!-- Left Section: Title and Description -->
        <div class="description lg:order-first order-last">
            <h1 class="text-4xl font-bold text-gray-800 mb-4">
                {% if character_wd %}
                    <a href="{{ character_wd }}" target="_blank" class="hover:underline">
                        {{ name }}
                    </a>
                {% else %}
                    {{ name }}
                {% endif %}
            </h1>
            <hr class="border-t-2 border-gray-300 mb-6">  <!-- Pembatas -->
            <div id="summary-container">
                <p class="text-center text-gray-500 col-span-full" id="summary-display">
                    Loading summary...
                </p>
            </div>

            <h2 class="text-2xl font-bold text-gray-700 border-b pb-2 mb-4">Biography</h2>
            <div id="biography-container">
                <p class="text-center text-gray-500 col-span-full" id="biography-display">
                    Loading biography...
                </p>
            </div>
            <div class="mt-6">
                <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">Episodes</h2>
                <ul class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 text-gray-600">
                    {% if episodes %}
                        {% for episode in episodes %}
                            {% if episode.image %}
                            <a href="../../episode/{{ episode.name | urlize }}" class="episode-box mb-4 p-4 border rounded-lg block hover:bg-gray-100 transition-all duration-200">
                                <div class="episode-box-content">
                                    <img src="{{ episode.image }}" alt="{{ episode.name }}" class="episode-image mb-2 w-full h-auto object-cover rounded">
                                    <p class="text-center font-semibold text-xl">{{ episode.name }}</p>
                                </div>
                            </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li class="text-center text-gray-500 col-span-full">No episodes available.</li>
                    {% endif %}
                </ul>
            </div>            
            
        </div>

        <div class="max-w-4xl mx-auto p-4 lg:order-last order-first">
            <div class="bg-white p-6 rounded-lg shadow-xl">

                <!-- Title -->
                <div class="text-center mb-5">
                    {% if character_wd %}
                        <a href="{{ character_wd }}" target="_blank" class="text-3xl font-bold text-gray-800 hover:underline">
                            {{ name }}
                        </a>
                    {% else %}
                        <h1 class="text-3xl font-bold text-gray-800">
                            {{ name }}
                        </h1>
                    {% endif %}
                </div>
                
                <!-- Image Section -->
                {% if image_url %}
                    <img src="{{ image_url }}" alt="{{ name }}" class="w-full h-auto rounded-lg">
                {% else %}
                    <div class="relative">
                        <img src="{% static 'images/default.png' %}" alt="Default Image" class="w-full h-auto rounded-lg">
                        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50">
                            <p class="text-white font-semibold text-lg px-4 py-2 rounded">
                                Image not available
                            </p>
                        </div>
                    </div>
                {% endif %}

                <div class="mt-6 text-center">
                    <a href="{{ fandom }}"
                        class="text-xl font-semibold text-blue-600 hover:text-blue-700 hover:underline"
                        target="_blank">
                        Fandom
                    </a>
                    <span class="mx-2 text-gray-500 text-3xl font-bold">-</span> <!-- Dot Separator -->
                    <a href="{{ character_wd }}"
                        class="text-xl font-semibold text-blue-600 hover:text-blue-700 hover:underline"
                        target="_blank">
                        Wikidata
                    </a>
                    <span class="mx-2 text-gray-500 text-3xl font-bold">-</span> <!-- Dot Separator -->
                    <a href="{% url 'gallery_char' name %}"
                        class="text-xl font-semibold text-blue-600 hover:text-blue-700 hover:underline">
                        Gallery
                    </a>
                </div>

                <!-- General Information -->
                {% if residences or occupations %}
                    <div class="mt-6">
                        <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">General Information</h2>
                        <ul class="space-y-2 text-gray-600">
                            {% if residences %}
                                <li><strong class="font-medium">Residence(s):</strong>
                                    <ul class="ml-6 list-disc">
                                        {% for residence in residences %}
                                            <li>
                                                {{ residence.name }}
                                                {% if residence.infos %}
                                                    {% with first_info=residence.infos|first %}
                                                        {% if first_info != "No additional information" %}
                                                            ({{ first_info }})
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if occupations %}
                                <li><strong class="font-medium">Occupation:</strong>
                                    <ul class="ml-6 list-disc">
                                        {% for occupation in occupations %}
                                            <li>
                                                {{ occupation.name }}
                                                {% if occupation.detail %}
                                                    <span class="ml-2 text-gray-500">({{ occupation.infos }})</span>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                <!-- Physical Appearance Section -->
                {% if gender or eye_colors or color or classifications %}
                <div class="mt-6">
                    <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">Physical Appearance</h2>
                    <ul class="space-y-2 text-gray-600">
                        {% if gender %}<li><strong class="font-medium">Gender:</strong> <span class="ml-2">{{ gender }}</span></li>{% endif %}
                        <!-- Colors -->
                        {% if colors %}
                            <li><strong class="font-medium">Color(s):</strong>
                                <ul class="ml-6 list-disc">
                                    {% for color in colors %}
                                        <li>
                                            {{ color.name }}
                                            {% if color.infos %}
                                                {% with first_info=color.infos|first %}
                                                    {% if first_info != "No additional information" %}
                                                        ({{ first_info }})
                                                    {% endif %}
                                                {% endwith %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <!-- Eye Colors -->
                        {% if eye_colors %}
                            <li><strong class="font-medium">Eye Color(s):</strong>
                                <ul class="ml-6 list-disc">
                                    {% for eye_color in eye_colors %}
                                        <li>
                                            {{ eye_color.name }}
                                            {% if eye_color.infos %}
                                                {% with first_info=eye_color.infos|first %}
                                                    {% if first_info != "No additional information" %}
                                                        ({{ first_info }})
                                                    {% endif %}
                                                {% endwith %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if classifications %}
                            <li><strong class="font-medium">Classification:</strong>
                                <ul class="ml-6 list-disc">
                                    {% for classification in classifications %}
                                        <li>
                                            {{ classification.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
        
                <!-- Family Section -->
                {% if spouses or childs %}
                    <div class="mt-6">
                        <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">Family</h2>
                        <ul class="space-y-2 text-gray-600">
                            {% if spouses %}
                                <li><strong class="font-medium">Spouse:</strong>
                                    <span class="ml-2">
                                        {% for spouse in spouses %}
                                            <a href="../{{ spouse.name }}" class="text-blue-500 hover:text-blue-700">
                                                {{ spouse.name }}
                                            </a>
                                            
                                            <!-- Show info if available and not equal to "No additional information" -->
                                            {% if spouse.infos %}
                                                {% for info in spouse.infos %}
                                                    {% if info != "No additional information" %}
                                                        ({{ info }})
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                </li>
                            {% endif %}
                            {% if childs %}
                                <li><strong class="font-medium">Child:</strong>
                                    <ul class="ml-6 list-disc">
                                        {% for child in childs %}
                                            <li>
                                                <a href="../{{ child.name }}" class="text-blue-500 hover:text-blue-700">
                                                    {{ child.name }}
                                                </a>
                                                {% if child.infos %}
                                                    {% with first_info=child.infos|first %}
                                                        {% if first_info != "No additional information" %}
                                                            ({{ first_info }})
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                
                <!-- Series Information Section -->
                {% if appeared_in or first_appearance or latest_appearance or portrayers %}
                    <div class="mt-6">
                        <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">Series Information</h2>
                        <ul class="space-y-2 text-gray-600">
                            {% if appeared_in %}
                                <li><strong class="font-medium">Appearance:</strong>
                                    <a href="../../episode/{{ appeared_in }}" class="text-blue-500 hover:text-blue-700">
                                        {{ appeared_in }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if first_appearance %}
                                <li><strong class="font-medium">First Appearance:</strong> 
                                    <span class="ml-2">
                                        <a href="../../episode/{{ first_appearance.name }}" class="text-blue-500 hover:text-blue-700">
                                            {{ first_appearance.name }}
                                        </a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if latest_appearance %}
                                <li><strong class="font-medium">Latest Appearance:</strong> 
                                    <span class="ml-2">
                                        <a href="../../episode/{{ latest_appearance.name }}" class="text-blue-500 hover:text-blue-700">
                                            {{ latest_appearance.name }}
                                        </a>
                                    </span>
                                </li>
                            {% endif %}
                            {% if portrayers %}
                                <li><strong class="font-medium">Portrayer(s):</strong>
                                    <ul class="ml-6 list-disc">
                                        {% for portrayer in portrayers %}
                                            <li>
                                                <a href="../{{ portrayer.name }}" class="text-blue-500 hover:text-blue-700">
                                                    {{ portrayer.name }}
                                                </a>
                                                {% if portrayer.infos %}
                                                    {% with first_info=portrayer.infos|first %}
                                                        {% if first_info != "No additional information" %}
                                                            ({{ first_info }})
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
<script>
    async function getSummary() {
        const url = window.location.pathname;
        const characterTitle = url.split('/character/')[1].split('/')[0]; // Ambil teks setelah /character/

        // Decode URL untuk mengembalikan karakter yang di-encode (misalnya '%20' menjadi spasi)
        const pageTitle = decodeURIComponent(characterTitle);
        console.log(pageTitle)
        return fetch(`/character/get-summary/${pageTitle}/`).then((res) => res.json())
        // alert(decodedTitle)
    }
    async function refreshSummary() {
        // Panggil getSummary untuk mendapatkan summary terbaru
        const summaryContent = await getSummary();

        // Ambil nilai summary dari dictionary (misalnya summaryContent.summary)
        const summaryText = summaryContent?.summary || "";  // Jika summaryContent tidak ada atau summary kosong, set menjadi ""

        // Dapatkan elemen #summary-display
        const summaryElement = document.getElementById("summary-display");

        // Ganti konten elemen berdasarkan apakah ada summary atau tidak
        if (summaryText) {
        // Tampilkan summary jika ada
        summaryElement.classList.remove("text-center", "text-gray-500");
        summaryElement.classList.add("text-gray-700", "mb-6");
        summaryElement.innerHTML = summaryText;
        } else {
        // Tampilkan pesan "No Summary available." jika kosong
        summaryElement.classList.remove("text-gray-700", "mb-6");
        summaryElement.classList.add("text-center", "text-gray-500", "col-span-full");
        summaryElement.innerHTML = "No Summary available.";
        }
    }
    async function getBiography() {
        const url = window.location.pathname;
        const characterTitle = url.split('/character/')[1].split('/')[0]; // Ambil teks setelah /character/

        // Decode URL untuk mengembalikan karakter yang di-encode (misalnya '%20' menjadi spasi)
        const pageTitle = decodeURIComponent(characterTitle);
        console.log(pageTitle)
        return fetch(`/character/get-biography/${pageTitle}/`).then((res) => res.json())
        // alert(decodedTitle)
    }
    async function refreshBiography() {
        // Panggil getBiography untuk mendapatkan biography terbaru
        const biographyContent = await getBiography();

        // Ambil nilai biography dari dictionary (misalnya biographyContent.biography)
        const biographyText = biographyContent?.biography || "";  // Jika biographyContent tidak ada atau biography kosong, set menjadi ""

        // Dapatkan elemen #biography-display
        const biographyElement = document.getElementById("biography-display");

        // Ganti konten elemen berdasarkan apakah ada biography atau tidak
        if (biographyText) {
        // Tampilkan biography jika ada
        biographyElement.classList.remove("text-center", "text-gray-500");
        biographyElement.classList.add("text-gray-700", "mb-6");
        biographyElement.innerHTML = biographyText;
        } else {
        // Tampilkan pesan "No biography available." jika kosong
        biographyElement.classList.remove("text-gray-700", "mb-6");
        biographyElement.classList.add("text-center", "text-gray-500", "col-span-full");
        biographyElement.innerHTML = "No Biography available.";
        }
    }
    refreshSummary()
    refreshBiography()
</script>
{% endblock %}