{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <div class="container">
    <h2>{{ character.name }}</h2>
    <img src="{{ character.image.url }}" alt="{{ character.name }}" class="character-image">
    <p>{{ character.description }}</p>
    
    <!-- Include Infobox Character -->
    <!-- {% include "infobox_character/infobox_character.html" with character=character %} -->
    
    <!-- Include Gallery -->
    <!-- {% include "gallery/gallery.html" with gallery_type="character" object=character %} -->
<!-- </div> --> -->
{% endblock %}