{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <div class="container">
    <h2>Welcome to SpongeBob Fandom</h2>
    
    <section>
        <h3>Top Characters</h3>
        <ul>
            {% for character in characters %}
                <li>
                    <a href="{{ character.get_absolute_url }}">{{ character.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
    
    <section>
        <h3>Top Episodes</h3>
        <ul>
            {% for episode in episodes %}
                <li>
                    <a href="{{ episode.get_absolute_url }}">{{ episode.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
</div> -->
{% endblock %}