{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto p-4">
    <!-- Main Content -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <!-- Left Section: Title and Description -->
        <div>
            <h1 class="text-4xl font-bold text-gray-800 mb-4">
                {% if eps_wd %}
                    <a href="{{ eps_wd }}" target="_blank" class="hover:underline">
                        {{ title }}
                    </a>
                {% else %}
                    {{ title }}
                {% endif %}
            </h1>
            <hr class="border-t-2 border-gray-300 mb-6">  <!-- Pembatas -->
            
            <div id="summary-container">
                <p class="text-center text-gray-500 col-span-full" id="summary-display">
                    Loading summary...
                </p>
            </div>

            <h2 class="text-2xl font-bold text-gray-700 border-b pb-2 mb-4">Synopsis</h2>
            <div id="synopsis-container">
                <p class="text-center text-gray-500 col-span-full" id="synopsis-display">
                    Loading synopsis...
                </p>
            </div>

                
            <div class="mt-6">
                <h2 class="text-2xl font-bold text-gray-700 border-b pb-2 mb-4">Characters</h2>
                <ul class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 text-gray-600">
                    {% if characters  %}
                        {% for character in characters %}
                            {% if character.image %}
                            <li class="character-box h-full">
                                <a href="{% url 'character_detail' nama_character=character.name %}" class="flex flex-col h-full bg-white shadow-lg rounded-lg overflow-hidden border hover:shadow-2xl transition-all duration-300 transform hover:scale-105">
                                    <div class="relative w-full h-64 overflow-hidden">
                                        <img 
                                            src="{{ character.image }}" 
                                            alt="{{ character.name }}" 
                                            class="w-full h-full object-contain group-hover:scale-110 transition-transform duration-300 rounded-t-lg"
                                        >
                                    </div>
                                    <div class="p-4 flex-grow flex items-center justify-center">
                                        <p class="text-center font-semibold text-lg text-gray-800 group-hover:text-blue-500 transition-colors duration-200 line-clamp-2">
                                            {{ character.name }}
                                        </p>
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                
                    {% else %}
                        <li class="text-center text-gray-500 col-span-full">No characters available.</li>
                    {% endif %}
                </ul>
            </div>
            
        </div>
        <div class="max-w-4xl mx-auto p-4">
            <div class="bg-white p-6 rounded-lg shadow-xl">

                <!-- Title -->
                <div class="text-center mb-5">
                    {% if eps_wd %}
                        <a href="{{ eps_wd }}" target="_blank" class="text-3xl font-bold text-gray-800 hover:underline">
                            {{ title }}
                        </a>
                    {% else %}
                        <h1 class="text-3xl font-bold text-gray-800">
                            {{ title }}
                        </h1>
                    {% endif %}
                </div>
                <!-- Image Section -->
                {% if image_url %}
                    <img src="{{ image_url }}" alt="{{ title }}" class="w-full h-auto rounded-lg">
                {% else %}
                    <div class="relative">
                        <img src="{% static 'images/default.png' %}" alt="Default Image" class="w-full h-auto rounded-lg">
                        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50">
                            <p class="text-white font-semibold text-lg px-4 py-2 rounded">
                                Image not available
                            </p>
                        </div>
                    </div>
                {% endif %}
                <div class="mt-6 text-center">
                    {% if fandom %}
                    <a href="{{ fandom }}"
                        class="text-xl font-semibold text-blue-600 hover:text-blue-700 hover:underline"
                        target="_blank">
                        Fandom
                    </a>
                    {% else %}
                    <span class="text-xl font-semibold">
                        Fandom
                    </span>
                    {% endif %}
                    <span class="mx-2 text-gray-500 text-3xl font-bold">-</span> <!-- Dot Separator -->
                    {% if eps_wd %}
                    <a href="{{ eps_wd }}"
                        class="text-xl font-semibold text-blue-600 hover:text-blue-700 hover:underline"
                        target="_blank">
                        Wikidata
                    </a>
                    {% else %}
                    <span class="text-xl font-semibold">
                        Wikidata
                    </span>
                    {% endif %}
                    <span class="mx-2 text-gray-500 text-3xl font-bold">-</span> <!-- Dot Separator -->
                    <a href="{% url 'gallery_episode' title %}"
                        class="text-xl font-semibold text-blue-600 hover:text-blue-700 hover:underline">
                        Gallery
                    </a>
                </div>

                <!-- Episode Info -->
                <div class="mt-6">
                    <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">Episode Info</h2>
                    <ul class="space-y-2 text-gray-600">
                        {% if air_date %}<li><strong class="font-medium">Air Date:</strong> <span class="ml-2">{{ air_date }}</span></li>{% endif %}
                        {% if episode_no %}<li><strong class="font-medium">Episode No:</strong> <span class="ml-2">{{ episode_no }}</span></li>{% endif %}
                        {% if season_no %}<li><strong class="font-medium">Season No:</strong> <span class="ml-2">{{ season_no }}</span></li>{% endif %}
                        {% if production_codes %}
                            <li><strong class="font-medium">Production Codes:</strong>
                                {% if production_codes|length == 1 %}
                                    <span class="ml-2">{{ production_codes.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for code in production_codes %}
                                            <li>{{ code }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if running_time %}
                            <li><strong class="font-medium">Running Time:</strong>
                                {% if running_time|length == 1 %}
                                    <span class="ml-2">{{ running_time.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for time in running_time %}
                                            <li>{{ time }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        
                        {% if premier_time %}
                            <li><strong class="font-medium">Premier Time:</strong>
                                {% if premier_time|length == 1 %}
                                    <span class="ml-2">{{ premier_time.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for time in premier_time %}
                                            <li>{{ time }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}

                        {% if copyright_year %}
                            <li><strong class="font-medium">Copyright Year:</strong>
                                {% if copyright_year|length == 1 %}
                                    <span class="ml-2">{{ copyright_year.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for year in copyright_year %}
                                            <li>{{ year }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        
                        {% if viewers %}
                            <li><strong class="font-medium">Viewers (million):</strong>
                                {% if viewers|length == 1 %}
                                    <span class="ml-2">{{ viewers.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for viewer in viewers %}
                                            <li>{{ viewer }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        
                        {% if prev_episode %}
                            <li>
                                <strong class="font-medium">Previous Episode:</strong> 
                                <a href="{% url 'episode_detail' prev_episode %}" class="ml-2 text-blue-500 hover:text-blue-700">
                                    {{ prev_episode }}
                                </a>
                            </li>
                        {% endif %}
                        {% if next_episode %}
                            <li>
                                <strong class="font-medium">Next Episode:</strong> 
                                <a href="{% url 'episode_detail' next_episode %}" class="ml-2 text-blue-500 hover:text-blue-700">
                                    {{ next_episode }}
                                </a>
                            </li>
                        {% endif %}
                        <!-- Sister Episodes -->
                        {% if sister_episodes %}
                            <li><strong class="font-medium">Sister Episodes:</strong>
                                {% if sister_episodes|length == 1 %}
                                    <a href="{% url 'episode_detail' sister_episodes.0 %}" class="ml-2 text-blue-500 hover:text-blue-700">
                                        {{ sister_episodes.0 }}
                                    </a>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for sister_episode in sister_episodes %}
                                            <li>
                                                <a href="{% url 'episode_detail' sister_episode %}" class="ml-2 text-blue-500 hover:text-blue-700">
                                                    {{ sister_episode }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}

                        <!-- IMDb Rating -->
                        {% if imdb_url and rating %}
                        <li>
                            <strong class="font-medium">IMDb Rating:</strong> 
                            <a href="{{ imdb_url }}" class="ml-2 text-blue-500 hover:text-blue-700">
                                {{ rating }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <!-- Credits Section -->
                <div class="mt-6">
                    <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">Credits</h2>
                    <ul class="space-y-2 text-gray-600">
                        
                        {% if guests %}
                            <li><strong class="font-medium">Guests:</strong>
                                {% if guests|length == 1 %}
                                    <span class="ml-2">
                                        {{ guests.0.name }}
                                        {% if guests.0.roles %}
                                        as
                                        {% endif %}
                                        {% for role in guests.0.roles %}
                                            {% if forloop.last and not forloop.first %}
                                                and {{ role }}
                                            {% elif forloop.last %}
                                                {{ role }}
                                            {% else %}
                                                {{ role }},
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                    

                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for guest in guests %}
                                            <li>
                                                {{ guest.name }} 
                                                {% if guest.roles %}
                                                as
                                                {% endif %}
                                                {% for role in guest.roles %}
                                                    {% if forloop.last and not forloop.first %}
                                                        and {{ role }}
                                                    {% elif forloop.last %}
                                                        {{ role }}
                                                    {% else %}
                                                        {{ role }},
                                                    {% endif %}
                                                {% endfor %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        
                        {% if creative %}<li><strong class="font-medium">Creative:</strong> <span class="ml-2">{{ creative }}</span></li>{% endif %}
                        
                        {% if animators %}
                            <li><strong class="font-medium">Animators:</strong>
                                {% if animators|length == 1 %}
                                    <span class="ml-2">{{ animators.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for animator in animators %}
                                            <li>{{ animator }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        
                        {% if storyboard_artists %}
                            <li><strong class="font-medium">Storyboard Artists:</strong>
                                {% if storyboard_artists|length == 1 %}
                                    <span class="ml-2">{{ storyboard_artists.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for storyboard_artist in storyboard_artists %}
                                            <li>{{ storyboard_artist }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if storyboard %}
                            <li><strong class="font-medium">Storyboard:</strong>
                                {% if storyboard|length == 1 %}
                                    <span class="ml-2">{{ storyboard.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for sb in storyboard %}
                                            <li>{{ sb }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                            
                        {% if writers %}
                            <li><strong class="font-medium">Writers:</strong>
                                {% if writers|length == 1 %}
                                    <span class="ml-2">{{ writers.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for writer in writers %}
                                            <li>{{ writer }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        
                        {% if contributors %}
                            <li><strong class="font-medium">Main Contributors:</strong>
                                {% if contributors|length == 1 %}
                                    <span class="ml-2">{{ contributors.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for contributor in contributors %}
                                            <li>{{ contributor }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        
                        {% if supervising_producers %}
                            <li><strong class="font-medium">Supervising Producers:</strong>
                                {% if supervising_producers|length == 1 %}
                                    <span class="ml-2">{{ supervising_producers.0 }}</span>
                                {% else %}
                                    <ul class="list-disc pl-6 space-y-1">
                                        {% for producer in supervising_producers %}
                                            <li>{{ producer }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function getSummary() {
        const url = window.location.pathname;
        const episodeTitle = url.split('/episode/')[1].split('/')[0]; // Ambil teks setelah /episode/

        // Decode URL untuk mengembalikan karakter yang di-encode (misalnya '%20' menjadi spasi)
        const pageTitle = decodeURIComponent(episodeTitle);
        console.log(pageTitle)
        return fetch(`/episode/get-summary/${pageTitle}/`).then((res) => res.json())
        // alert(decodedTitle)
    }
    async function refreshSummary() {
        // Panggil getSummary untuk mendapatkan summary terbaru
        const summaryContent = await getSummary();

        // Ambil nilai summary dari dictionary (misalnya summaryContent.summary)
        const summaryText = summaryContent?.summary || "";  // Jika summaryContent tidak ada atau summary kosong, set menjadi ""

        // Dapatkan elemen #summary-display
        const summaryElement = document.getElementById("summary-display");

        // Ganti konten elemen berdasarkan apakah ada summary atau tidak
        if (summaryText) {
        // Tampilkan summary jika ada
        summaryElement.classList.remove("text-center", "text-gray-500");
        summaryElement.classList.add("text-gray-700", "mb-6");
        summaryElement.innerHTML = summaryText;
        } else {
        // Tampilkan pesan "No Summary available." jika kosong
        summaryElement.classList.remove("text-gray-700", "mb-6");
        summaryElement.classList.add("text-center", "text-gray-500", "col-span-full");
        summaryElement.innerHTML = "No Summary available.";
        }
    }
    async function getSynopsis() {
        const url = window.location.pathname;
        const episodeTitle = url.split('/episode/')[1].split('/')[0]; // Ambil teks setelah /episode/

        // Decode URL untuk mengembalikan karakter yang di-encode (misalnya '%20' menjadi spasi)
        const pageTitle = decodeURIComponent(episodeTitle);
        console.log(pageTitle)
        return fetch(`/episode/get-synopsis/${pageTitle}/`).then((res) => res.json())
        // alert(decodedTitle)
    }
    async function refreshSynopsis() {
        // Panggil getSynopsis untuk mendapatkan synopsis terbaru
        const synopsisContent = await getSynopsis();

        // Ambil nilai synopsis dari dictionary (misalnya synopsisContent.synopsis)
        const synopsisText = synopsisContent?.synopsis || "";  // Jika synopsisContent tidak ada atau synopsis kosong, set menjadi ""

        // Dapatkan elemen #synopsis-display
        const synopsisElement = document.getElementById("synopsis-display");

        // Ganti konten elemen berdasarkan apakah ada synopsis atau tidak
        if (synopsisText) {
        // Tampilkan synopsis jika ada
        synopsisElement.classList.remove("text-center", "text-gray-500");
        synopsisElement.classList.add("text-gray-700", "mb-6");
        synopsisElement.innerHTML = synopsisText;
        } else {
        // Tampilkan pesan "No Synopsis available." jika kosong
        synopsisElement.classList.remove("text-gray-700", "mb-6");
        synopsisElement.classList.add("text-center", "text-gray-500", "col-span-full");
        synopsisElement.innerHTML = "No Synopsis available.";
        }
    }
    refreshSummary()
    refreshSynopsis()
</script>
{% endblock %}
